
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Kirim ke <%= target %></title>
</head>
<body class="bg-black text-white flex items-center justify-center min-h-screen p-4">
    <div class="w-full max-w-sm text-center">
        <div class="w-20 h-20 bg-red-600 rounded-full mx-auto mb-4 flex items-center justify-center text-2xl font-black shadow-xl shadow-red-600/20 uppercase">
            <%= target[0] %>
        </div>
        <h2 class="font-bold mb-6 italic uppercase tracking-tighter">Kirim pesan rahasia ke @<%= target %></h2>
        <form action="/send/<%= target %>" method="POST">
            <textarea name="message" placeholder="Tulis sesuatu..." class="w-full h-40 p-5 bg-[#0a0a0a] border border-[#1a1a1a] rounded-3xl focus:outline-none focus:border-red-600 resize-none mb-4 text-sm" required></textarea>
            <button class="w-full bg-white text-black font-black py-4 rounded-full hover:scale-105 transition-transform">KIRIM!</button>
        </form>
    </div>
</body>
</html>
